/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [tutorial_op]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 13/09/2017 15:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[Order_Date] [smalldatetime] NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[SalesRepId] [nchar](10) NULL,
	[Amount] [bigint] NULL,
	[Order_ID] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesrep]    Script Date: 13/09/2017 15:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesrep](
	[salesRepID] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NULL,
	[office] [nvarchar](45) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sales] ON 

INSERT [dbo].[sales] ([Order_Date], [Customer_Name], [SalesRepId], [Amount], [Order_ID]) VALUES (CAST(N'2010-10-13T00:00:00' AS SmallDateTime), N'Muhammed MacIntyre', N'1         ', 851804379, 1)
INSERT [dbo].[sales] ([Order_Date], [Customer_Name], [SalesRepId], [Amount], [Order_ID]) VALUES (CAST(N'2012-10-01T00:00:00' AS SmallDateTime), N'Barry French', N'1         ', 683057055, 2)
INSERT [dbo].[sales] ([Order_Date], [Customer_Name], [SalesRepId], [Amount], [Order_ID]) VALUES (CAST(N'2011-07-10T00:00:00' AS SmallDateTime), N'Clay Rozendal', N'1         ', 1732115679, 3)
GO
SET IDENTITY_INSERT [dbo].[sales] OFF
SET IDENTITY_INSERT [dbo].[salesrep] ON 

INSERT [dbo].[salesrep] ([salesRepID], [name], [office]) VALUES (CAST(1 AS Numeric(11, 0)), N'R. Zane', N'Berlin')
INSERT [dbo].[salesrep] ([salesRepID], [name], [office]) VALUES (CAST(2 AS Numeric(11, 0)), N'P. Chapman', N'Berlin')
INSERT [dbo].[salesrep] ([salesRepID], [name], [office]) VALUES (CAST(3 AS Numeric(11, 0)), N'F. Crane', N'New York')
SET IDENTITY_INSERT [dbo].[salesrep] OFF
